@font-face {
  font-family: 'PerfectDOSVGA437Win';
  src: url('../fonts/PerfectDOSVGA437Win000.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PerfectDOSVGA437Win000.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/PerfectDOSVGA437Win000.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/PerfectDOSVGA437Win000.woff') format('woff'), /* Modern Browsers */
    url('../fonts/PerfectDOSVGA437Win000.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/PerfectDOSVGA437Win000.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
html {
	background: #010101;
	color: #00DD00;
	overflow-x: hidden;
	font-family: 'PerfectDOSVGA437Win';
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 16px;
}
#main_content {
    margin-top: 3.5%;
    width: 100%;
    height: auto;
    position: relative;
}
#container {
    width: 715px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
p{
	font-size: 8px;
	line-height: 1.75;
	}
a {
	color: inherit;
}