/*
Progetto: Archivio atti edilizi - Comune di Buccinasco
Autore: Guglielmone Fabio
Versione: 0.2
*/

/*========== Indice dei contenuti ==========
00. Stili Elementi
01. Material Design
02. Stili Globali
*/

/*========== 00. Stili Elementi ==========*/
* {
	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
					box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
					box-sizing: border-box;
}
html {
	font-family: Roboto,sans-serif;
	background-color: #fafafa;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fafafa;
}

header,
section,
footer {
	float: left;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

a {
	background-color: transparent;
}
a:active,
a:hover {
	outline: 0;
}
b {
	font-weight: bold;
}
small {
	font-size: 75%;
}

label {
	color: #777;
	display: block;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

textarea,
input,
select {
	font-family: 'Roboto Mono';
}

select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

table {
	width: 100%;
	display: table;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	border-bottom: 1px solid #d0d0d0;
}

th,
td {
	padding: 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
}

tbody > tr:hover{
	background: #f0f0f0;
}

/*========== 01. Material Design ==========*/

/*--- Livelli di altezza ---*/
.dp1 {
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.109804) 0px 1px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 3px;
}
.dp2 {
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.121569) 0px 2px 4px, rgba(0, 0, 0, 0.239216) 0px 2px 4px;
}
.dp3 {
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.133333) 0px 3px 6px, rgba(0, 0, 0, 0.239216) 0px 2px 6px;
}
.dp4 {
	z-index: 4;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.dp6 {
	z-index: 6;
	box-shadow: rgba(0, 0, 0, 0.164706) 0px 6px 12px, rgba(0, 0, 0, 0.227451) 0px 4px 12px;
}
.dp8 {
	z-index: 8;
	box-shadow: rgba(0, 0, 0, 0.188235) 0px 8px 16px, rgba(0, 0, 0, 0.227451) 0px 5px 16px;
}
.dp9 {
	z-index: 9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 18px, rgba(0, 0, 0, 0.227451) 0px 5px 18px;
}
.dp12 {
	z-index: 12;
	box-shadow: rgba(0, 0, 0, 0.231373) 0px 12px 24px, rgba(0, 0, 0, 0.227451) 0px 8px 24px;
}
.dp16 {
	z-index: 16;
	box-shadow: rgba(0, 0, 0, 0.27451) 0px 16px 32px, rgba(0, 0, 0, 0.219608) 0px 12px 32px;
}
.dp24 {
	z-index: 24;
	box-shadow: rgba(0, 0, 0, 0.364706) 0px 24px 48px, rgba(0, 0, 0, 0.219608) 0px 20px 48px;
}

.no-btn,
.btn {
	font-family: Roboto;
	font-weight: 700;
	text-decoration: none;
	color: #333;
	background-color: #fafafa;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	outline: 0;
	border: none;
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;

}

.btn {
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.btn:hover {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}
.btn-primary {
	background: #2196F3;
	color: #FFF;
}
.btn-primary:hover{
	background: #42A5F5;
}
.btn-danger {
	background: #C00;
	color: #FFF;
}
.btn-danger:hover{
	background: #d9534f;
}
/*========== 02. Ex-Bootstrap ==========*/
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.row:before,
.row:after {
	display: table;
	content: " ";
}
.row:after {
	clear: both;
}


.col-sm-12,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1 {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


.col-sm-12 {
	width: 100%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-1 {
	width: 8.33333333%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
		display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
		height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0.33;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
	width: 600px;
	margin: 30px auto;
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}


.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}







.panel {
	margin-bottom: 20px;
}
.panel-default {
    border-color: #ddd;
}
.panel-default > .panel-heading {
	color: #777;
	border-bottom: 1px solid #ddd;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
		font-weight: 500;
		padding: 16px 32px;
    color: inherit;
}
.panel-body {
    padding: 32px 64px;
}
.form-group {
	margin-bottom: 15px;
}

.form-control {
	resize: none;
	display: block;
	width: 100%;
	height: 34px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	outline: 0;
	border: 0;
	border-bottom: 2px solid #e6e6e6;
}
.form-control:focus{
   border-color: #66afe9;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #fff;
	opacity: 1;
}


.help-block {
	display: block;
	margin-top: 12px;
	margin-bottom: 6px;
	color: #737373;
}



/*========== 03. Stili Globali ==========*/
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 600px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 800px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}
.left {
	float: left;
}
.right {
	float: right;
}
.hidden {
	display: none;
}


/*========== 03. Header ==========*/
header {
	color: #fff;
	height: 64px;
	background-color: #1976D2;
	position: fixed;
}
header .icona {
	background: center center no-repeat;
	background-size: 24px 24px;
	color: inherit;
	cursor: pointer;
	border: 0;
	display: block;
	height: 48px;
	width: 48px;
	overflow: hidden;
	z-index: 2;
	position: relative;
	top: 8px;
	transition: all 0.125s ease;
}
header .icona.left {
	left: 12px;
}
header .icona.right {
	right: 12px;
}
header .etichetta {
	display: block;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	height: 48px;
	width: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 2;
	margin-top: 8px;
	transition: .4s cubic-bezier(0.4, 0.0, 0.2, 1);
}
header .etichetta.enlarged {
	width: 64px;
	margin: 8px 16px auto -12px;
}
/*========== 04. Header ==========*/
#usc.focused{
	border-bottom: 2px solid #1976D2;
}