@charset "utf-8";
/* Foglio di stile CSS */


/*
Progetto: Archivio atti edilizi - Comune di Buccinasco
Autore: Guglielmone Fabio
Versione: 0.1
*/

/*========== Indice dei contenuti ==========
00. Stili Elementi
01. Stili Globali
02. Caratteri
03. Barra Superiore
*/

/*========== 00. Stili Elementi ==========*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
	font-family: "MontSerrat", Arial, Helvetica, sans-serif;
	background:#F0F0F0;
	overflow-x: hidden;
	cursor:default;
	/* Non selezionabile */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {display: block; font-size: 4em; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0; margin-right: 0; font-weight: bold;}
h2 {display: block; font-size: 3em; margin-top: 0.75em; margin-bottom: 0.75em; margin-left: 0; margin-right: 0; font-weight: bold;}
h3 {display: block; font-size: 2em; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; font-weight: bold;}
h4 {display: block; margin-top: 1.33em; margin-bottom: 1.33em; margin-left: 0; margin-right: 0; font-weight: bold;}
h5 {display: block; font-size: .83em; margin-top: 1.67em; margin-bottom: 1.67em; margin-left: 0; margin-right: 0; font-weight: bold;}
h6 {display: block; font-size: .67em; margin-top: 2.33em; margin-bottom: 2.33em; margin-left: 0; margin-right: 0; font-weight: bold;}

a {text-decoration: none;}

/*========== 01. Stili Globali ==========*/

.full-width {
    float: left;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.center{
		margin: 0 auto;
}
.container {padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
  @media (min-width:768px){
	.container{width:600px}
	}
  @media (min-width:992px){
	.container{width:750px}
	}
  @media (min-width:1200px){
	.container{width:1024px}
	}
.med_container {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	width: 80%;
}
.panel.cover {
	margin: 25px auto;
}
.panel-body.cover {
	padding: 25px;
}
.cover h4 {display: block; font-size: 1.5em; margin-top: 0px; margin-bottom: 1.33em; margin-left: 0; margin-right: 0; font-weight: bold;}

.footer {
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1a1a1a;
  color: #737373;
}

.update {
	margin-top: 9px;
	margin-bottom: 2px;
}
.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: #2db6d8;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btngg{
    font-size: 36px;
	padding: 20px 50px;
	background: #49BF4D;
	color: #f0f0f0;
    box-shadow: -1px 1px 0px green, -2px 2px 0px green, -3px 3px 0px green, -4px 4px 0px green, -5px 5px 0px green;	
}
.btngg:hover{
	background:#67bc67;
	color: #f0f0f0;
}
.form {
    padding-top: 25px;
    min-height: 350px;
}
.modal-header{
	border-bottom: none;
}

/*========== 02. Caratteri ==========*/

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*========== 03. Barra Superiore ==========*/

.topbar {
    z-index: 999;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
    background-color: #20272c;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
#top-nav .nav {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-size: 11px;
}
#top-nav a.quick-nav {
    color: #FFF;
    line-height: 34px;
    margin: 0 0 0 15px;
    padding: 0;
}

/* Invio Ricerca */
label {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #888A8E;
}
.form-control {
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border-color: #d3d3d3; */
    box-shadow: none;
}

/* Lista Risultati */
#results_list {
    padding-bottom: 20px;
}

/* Inserimento dati */